.top-fixed-banner {
	height: 74px;
    position: relative;
    z-index: 999;
}
.top-fixed-banner__panel {
	box-sizing: border-box;
	color: #fff;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 0;
	background: #2d2b37;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 000;
	* {
		box-sizing: border-box;
	}
}
.top-fixed-banner.is-hidden {
	display: none !important;
}
.top-fixed-banner__inner {
	display: flex;
	align-items: center;
	gap: 52px;
}
.top-fixed-banner__text {
	font-weight: 600;
	/*font-size: 30px;*/
	font-size: 24px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
    display: flex;
    align-items: center;
}
.top-fixed-banner__btn {
	border-radius: 4px;
	padding: 0 20px;
	height: 41px;
	font-weight: 500;
	font-size: 16px;
	line-height: 105%;
	letter-spacing: 0.05em;
	color: #2d2b37;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition-property: color, background-color;
	transition-duration: .3s;
	background: #3adac0;
	text-decoration: none !important;
	&:hover {
		background-color: #9159BD;
		color: #fff;
	}
}
.top-fixed-banner__close {
	background-color: transparent;
	padding: 0;
	border:none;
	line-height: 0;
}
.top-fixed-banner__logo-desktop {
	transform: translateY(5%)
}
.top-fixed-banner__logo-mob {
	display: none;
}
.top-fixed-banner__text-btn {display: flex; align-items: center; gap: 52px;}
@media (max-width: 1100px) {
	.top-fixed-banner {
		height: 121px;
	}
	.top-fixed-banner__inner {
		gap: 2.5vw;
		height: 121px;
		/*svg {
			width: 100%;
			height: auto;
		}*/
	}
	.top-fixed-banner__text-btn {gap: 2.5vw;}
	.top-fixed-banner__text {
		font-size: 16px;
	}
}
@media (max-width: 767px) {
	.top-fixed-banner {
		height: 115px;
	}
	.top-fixed-banner__panel {
		height: 115px;
	}
	.top-fixed-banner__inner {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		padding: 24px 20px 0 16px;
		gap: 0;
	}
	.top-fixed-banner__text {
		font-size: 14px;
		svg {width: 170px; height: auto}
	}
	.top-fixed-banner__logo-desktop {
		display: none;
	}
	.top-fixed-banner__logo-mob {
		display: unset;
	}
	.top-fixed-banner__close {
		position: absolute;
		right: 20px;
		top: 18px;
	}
	.top-fixed-banner__text-btn {
		margin-top: 8px;
		justify-content: space-between;
		width: 100%;
	}
	.top-fixed-banner__btn {
		height: 28px;
		font-size: 12px;
	}
}

.holidays-banner {
	background-color: #9159BD;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
}
.holidays-banner div {
	width: 25%;
	font-weight: 700; 
	font-size: 14px; 
	color: #FFFFFF;
}
.holidays-banner a {
	color: #FFFFFF;
}
.holidays-banner div span {
	color: #FECB1D;
}
.holidays-banner div.holidays-main {
	width: 50%;
	font-size: 20px;
	text-align: center;
}
@media (max-width: 991px) {
	.holidays-banner {
		flex-direction: column;
		border-radius: 0px;
		padding: 10px 0px;
	}
	.holidays-banner div {
		width: 100%;
		text-align: center;
    	font-size: 1rem;
	}
	.holidays-banner div.holidays-main {
		margin-bottom: 10px;
		width: 100%;
		font-size: 1rem;
	}
}

.company-card__download {
	margin: 20px 0px;
}
.company-card__download .company-card__download-btn {
	color: #fff;
    background: #6c4098;
    padding: 10px 20px;
    font-size: 14px;
    margin: 20px 0px;
	text-decoration: none;
}
@media (max-width: 768px) {
	.company-card__download {
		background: #6c4098;
		text-align: center;
		padding: 10px 20px;
	}
	.company-card__download .company-card__download-btn {
		font-size: 12px;
		word-break: break-word;
		padding: 0;
	}
}
.slider-product.magnified .wrapperSlidesProduct img {
	height: 390px !important;
    width: 100% !important;
}
.ag_cookie_alert_window_text {
position: relative;
    padding: 7px 21px 7px 15px;
    max-width: 820px;
    border-radius: 23px;
    background-color: rgb(237, 241, 243);
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 1s linear 1s;
    color: rgb(51, 51, 51);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.page-article-support ol {
  list-style: none !important;
  counter-reset: section; 
}

.page-article-support ul(:not(.und-list)) li {
  counter-increment: section;
  display: block;
}

.page-article-support ul(:not(.und-list)) li::before {
  content: counters(section, ".") " "; 
  position: absolute; 
  margin-left: -40px; 
}

 li ol {
  counter-reset: subsection; 
}

.page-article-support h2 {
	line-height: 1.3;
}

.first-level {
	padding-left: 16px !important;
}

.second-level {
	padding-left: 30px !important;
}

.first-level > li::before {
  margin-left: -16px; 
  margin-top: 2px;
  font-weight: bold;
}

.second-level > li::before {
  margin-left: -30px; 
}
 .print-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        height: auto;
    }

    .print-table td {
        text-align: left;
        padding: 16px;
        vertical-align: middle;
        border: 2px solid #40344A;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;

        color: #40344A;
    }

    .b-right {
        border-right: 6px solid #40344A !important;
    }

    .print-table a {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-decoration-line: underline;
        color: #40344A;
    }

    .print-table a:hover {
        opacity: 0.8;
    }

    .print-table__left-col {
        background: #EFEFEF;
        font-weight: 700 !important;
        font-size: 18px !important;
        line-height: 150% !important;
        text-align: center !important;
        letter-spacing: 0.02em;
        color: #40344A !important;
    }

    .print-table__accent {
        font-weight: 700 !important;
        font-size: 18px !important;
        line-height: 150% !important;
        text-align: center !important;
        letter-spacing: 0.02em;
        color: #FFFFFF !important;
        background: #6C4098;
    }

    .print-table__secondary {
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 150% !important;
        text-align: center !important;
        color: #40344A !important;
        background: #FECB1D;
    }